<%= form_for(@scheduled_task) do |f| %>
  <% if @scheduled_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_task.errors.count, "error") %> prohibited this scheduled_task from being saved:</h2>

      <ul>
      <% @scheduled_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rake_method %><br />
    <%= f.text_field :rake_method %>
    e.g. <strong>log:clear</strong>
  </div>
  <div class="field">
    <%= f.label :args %><br />
    <%= f.text_field :args %>
    e.g. <strong>RAILS_ENV=production:user=1</strong>
  </div>
  <div class="field">
    <%= f.label :args_sep %><br />
    <%= f.text_field :args_sep %>
    <strong>Separates fields in Args</strong>
  </div>
  <div class="field">
    <%= f.label :notify_email %><br />
    <%= f.text_field :notify_email %>
    e.g. <strong>systemadmin@example.com</strong>
  </div>
  <div class="field">
    <%= f.label :interval_seconds %><br />
    <%= f.number_field :interval_seconds %>
    <strong>cron should run as frequently as the lowest ScheduledTask interval</strong>
  </div>
  <div class="field">
    <%= f.label :next_run %><br />
    <%= f.datetime_select :next_run %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <select id="scheduled_task_state" name="scheduled_task[state]">
      <option value="1"<%= select_state?(1) %>disabled='disabled'>running</option>
      <option value="0"<%= select_state?(0) %>>sleeping</option>
      <option value="2"<%= select_state?(2) %>>disabled</option>
    </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
