<%= error_messages_for 'scheduled_task' %>
<% def state_active?(state)
	@scheduled_task.state == state ? ' selected="selected"' : ''
end
%>
<!--[form:task]-->
<p><label for="task_rake_method">Rake Task</label><br/>
<%= text_field 'scheduled_task', 'rake_method'  %></p>

<p><label for="task_args">Args</label><br/>
<%= text_field 'scheduled_task', 'args'  %></p>

<p><label for="task_args_sep">Args sep</label><br/>
<%= text_field 'scheduled_task', 'args_sep'  %></p>

<p><label for="task_notify_email">Notify email</label><br/>
<%= text_field 'scheduled_task', 'notify_email'  %></p>

<p><label for="task_interval_seconds">Interval seconds</label><br/>
<%= text_field 'scheduled_task', 'interval_seconds'  %></p>

<p><label for="task_next_run">Next run</label><br/>
<%= datetime_select 'scheduled_task', 'next_run'  %></p>

<p><label for="task_last_run">Last run</label><br/>
<%= datetime_select 'scheduled_task', 'last_run'  %></p>

<p><label for="task_state">State</label><br/>
<select id="scheduled_task_state" name="scheduled_task[state]">
	<option value="1"<%= state_active?(1) %>disabled='disabled'>run</option>
	<option value="0"<%= state_active?(0) %>>sleep</option>
	<option value="2"<%= state_active?(2) %>>disabled</option>
</select></p>

<!--[eoform:task]-->

